<div class="container">
  <h3 mat-dialog-title>Add new User</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="addForm">

    <div class="form">
      <mat-form-field color="primary">
        <input matInput class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required formControlName="id">

        <mat-error *ngIf="addForm.controls.id.invalid && (addForm.controls.id.dirty || addForm.controls.id.touched)">

          <div *ngIf="addForm.controls.id.errors.required">
            ID is required.
          </div>
          <div *ngIf="addForm.controls.id.errors.number">
            ID must be a number.
          </div>

        </mat-error>

      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="primary">
        <input matInput class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required formControlName="name">

        <mat-error *ngIf="addForm.controls.name.invalid && (addForm.controls.name.dirty || addForm.controls.name.touched)">

          <div *ngIf="addForm.controls.name.errors.required">
            Name is required.
          </div>

        </mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #inputAge class="form-control" placeholder="Age" [(ngModel)]="data.age" name="age" maxlength="2" formControlName="age">
        <mat-hint align="end">{{inputAge.value?.length || 0}}/2</mat-hint>

        <mat-error *ngIf="addForm.controls.age.invalid && (addForm.controls.age.dirty || addForm.controls.age.touched)">

          <div *ngIf="addForm.controls.age.errors.number">
            Age must be a number.
          </div>

        </mat-error>

      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="primary">
        <input matInput placeholder="Salary" [(ngModel)]="data.salary" name="salary" formControlName="salary">

        <mat-error *ngIf="addForm.controls.salary.invalid && (addForm.controls.salary.dirty || addForm.controls.salary.touched)">

          <div *ngIf="addForm.controls.salary.errors.number">
            Salary must be number.
          </div>

        </mat-error>

      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!addForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
