<div class="container">
  <h3 mat-dialog-title>Employee id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="editForm">

    <div class="form">
      <mat-form-field color="primary">
        <input matInput class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required formControlName="name">

        <mat-error *ngIf="editForm.controls.name.invalid && (editForm.controls.name.dirty || editForm.controls.name.touched)">

          <div *ngIf="editForm.controls.name.errors.required">
            Name is required.
          </div>

        </mat-error>

      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #inputAge class="form-control" placeholder="Age" [(ngModel)]="data.age" name="age" maxlength="2" required formControlName="age">
        <mat-hint align="end">{{inputAge.value?.length || 0}}/2</mat-hint>

        <mat-error *ngIf="editForm.controls.age.invalid && (editForm.controls.age.dirty || editForm.controls.age.touched)">
          <div *ngIf="editForm.controls.age.errors.required">
            Age is required.
          </div>
          <div *ngIf="editForm.controls.age.errors.number">
            Age must be a number.
          </div>

        </mat-error>

      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="primary">
          <input matInput placeholder="Salary" [(ngModel)]="data.salary" name="salary" class="form-control" formControlName="salary">

          <mat-error *ngIf="editForm.controls.salary.invalid && (editForm.controls.salary.dirty || editForm.controls.salary.touched)">
            <div *ngIf="editForm.controls.salary.errors.required">
              Salary is required.
            </div>
            <div *ngIf="editForm.controls.salary.errors.number">
              Salary must be number.
            </div>

          </mat-error>

        </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="editForm.controls.name.errors || editForm.controls.age.errors || editForm.controls.salary.errors" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
