.user-table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 50%;
  min-width: 300px;
  margin: auto;
  margin-top: 100px;

}

.mat-table {
  overflow: auto;
  max-height: 500px;
  width: auto;
}

.mat-column-select {
  overflow: visible;
}

/* Filter */
.user-table-header {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}
.header-actions-container {
  display: flex;
  align-items: center;
}
.mat-select {
  width: 40px;
}
.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .user-table-container {
    max-width: 90%;
    margin-top: 20px;

  }
}
