<div class="user-table-container mat-elevation-z8">

  <div class="user-table-header">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput #filter placeholder="{{ 'FILTER' | translate }}">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.name}}</mat-cell>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> {{'AGE' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.age}}</mat-cell>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef> {{'SALARY' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.salary}}</mat-cell>
    </ng-container>

    <!-- Actions Column-->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <div class="header-actions-container">
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="icon-button with a heart icon">add</mat-icon>
          </button>
          <mat-select #langSelect placeholder="{{translate.currentLang}}" (change)="translate.use(langSelect.value)" class="form-control" [(ngModel)]="langSelect.value" value="translate.currentLang">
            <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang" class="form-control">
              {{ lang }}
            </mat-option>
          </mat-select>
        </div>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="startEdit(i, row.id, row.name, row.age, row.salary)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="deleteItem(i, row.id, row.name, row.age, row.salary)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    {{ 'NO-RESULTS' | translate }}
  </div>
  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>
</div>



